<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhibernate" type="System.Configuration.NameValueSectionHandler, System,
					Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter,Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE" />
        FILE,FILE-WATCH,INLINE,EXTERNAL
        <arg key="configFile" value="~/log4net.xml" />
        <arg key="level" value="debug" />
      </factoryAdapter>
    </logging>
  </common>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>

      <service  name="Mobao.M.PatientContext" behaviorConfiguration="extensionBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.116:8012/PatientService.svc"/>
            <add baseAddress="net.tcp://192.168.0.116:9987/PatientService.svc"/>
          </baseAddresses>
        </host>
        <!--<endpoint address="aaa" contract="Mobao.M.Interface.IPatient"  name="aaa"
                  binding="basicHttpBinding" behaviorConfiguration="endpointBehaviorStr">
        </endpoint>-->
        <endpoint address="bbb" contract="Mobao.M.Interface.IPatient"  name="bbb"
                  binding="wsHttpBinding"  behaviorConfiguration="endpointBehaviorStr">

        </endpoint>
        <endpoint address="ccc" contract="Mobao.M.Interface.IPatient"  name="ccc"
                 binding="netTcpBinding" behaviorConfiguration="endpointBehaviorStr">
        </endpoint>

        <endpoint address="ddd" contract="Mobao.M.Interface.IPatient"  name="ddd"
                  binding="webHttpBinding" behaviorConfiguration="endpointWebHttpBehaviorStr">
        </endpoint>
      </service>

      <service  behaviorConfiguration="extensionBehavior" name="Mobao.M.PatientContext2">
        <endpoint  contract="Mobao.M.Interface.IPatient"  name="aaa"
                   binding="basicHttpBinding" behaviorConfiguration="endpointBehaviorStr">
        </endpoint>
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding"  allowCookies="true">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBiing11" receiveTimeout="00:10:00" >
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="tcpNet" portSharingEnabled="true" >
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding>

        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehaviorStr">
          <endpointBehavior/>
        </behavior>

        <behavior name="endpointWebHttpBehaviorStr">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="extensionBehavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
          <dispacheMessage/>
        </behavior>



        <behavior name="WFServiceBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="dispacheMessage"  type="Mobao.M.Service.ServiceBehavior, Mobao.M.Service, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"></add>
        <add name="endpointBehavior"  type="Mobao.M.Service.EndpointBehavior, Mobao.M.Service"></add>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
