<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mobao.M.Winform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.0.116:8012/PatientService.svc/aaa" behaviorConfiguration="extensionEndpoint"
        binding="basicHttpBinding" bindingConfiguration="basc" contract="Mobao.M.Interface.IPatient"
        name="bascEndpoint" />
      <endpoint address="net.tcp://192.168.0.116:9987/PatientService.svc/ccc" behaviorConfiguration="extensionEndpoint"
        binding="netTcpBinding" contract="Mobao.M.Interface.IPatient"
        name="tcpEndpoint" />
      <endpoint address="http://192.168.0.116:8012/PatientService.svc/bbb" behaviorConfiguration="extensionEndpoint"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBinding11"
        contract="Mobao.M.Interface.IPatient" name="wsHttpEndpoint" />
      <endpoint address="http://192.168.0.116:8012/PatientService.svc/ddd"
        behaviorConfiguration="webHttp" binding="webHttpBinding" bindingConfiguration="webHttpBinding"
        contract="Mobao.M.Interface.IPatient" name="webHttpEndpoint" />
      <endpoint address="http://192.168.0.116:8012/PatientService2.svc" behaviorConfiguration="extensionEndpoint"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBind22"
        contract="Mobao.M.Interface.IPatient" name="wsHttpBiding22" />
      <endpoint address="http://192.168.0.116:8012/PatientService3.svc" behaviorConfiguration="extensionEndpoint"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBind22"
        contract="Mobao.M.Interface.IPatient3" name="wsHttpBiding33" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basc" maxReceivedMessageSize="6553500" />

      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcp">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding11" maxReceivedMessageSize="6553500" />
        <binding name="wsHttpBind22" maxReceivedMessageSize="65533500">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="6553500" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="extensionEndpoint">
          <ExtensionEndpointBehavior/>
        </behavior>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ExtensionEndpointBehavior" type="Mobao.M.WinForm.EndpointBehavior,Mobao.M.Winform"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <Mobao.M.Winform.Properties.Settings>
      <setting name="Mobao_M_Winform_BPCWebService_BPCWebService" serializeAs="String">
        <value>http://localhost:11719/DMRWebService.asmx</value>
      </setting>
    </Mobao.M.Winform.Properties.Settings>
  </applicationSettings>
</configuration>
