<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.0.116:8012/PatientService.svc/aaa" binding="basicHttpBinding" 
                contract="Mobao.M.Interface.IPatient" name="bascEndpoint" bindingConfiguration="basc">
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basc" maxReceivedMessageSize="6553500"></binding>
      </basicHttpBinding>
      <wsHttpBinding></wsHttpBinding>
      <netTcpBinding></netTcpBinding>
      <webHttpBinding></webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors></endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>

      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
