<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.0.121:8012/PatientService.svc/aaa" binding="basicHttpBinding"
                contract="Mobao.M.Interface.IPatient" name="bascEndpoint" bindingConfiguration="basc">
      </endpoint>

      <endpoint address="net.tcp://192.168.0.121:9987/PatientService.svc/ccc" binding="netTcpBinding"
               contract="Mobao.M.Interface.IPatient" name="tcpEndpoint">
      </endpoint>

      <endpoint address="http://192.168.0.121:8012/PatientService.svc/bbb" binding="wsHttpBinding"  bindingConfiguration="wsHttpBinding11"
              contract="Mobao.M.Interface.IPatient" name="wsHttpEndpoint">
      </endpoint>

      <endpoint address="http://192.168.0.121:8012/PatientService.svc/ddd" binding="webHttpBinding" behaviorConfiguration="webHttp" bindingConfiguration="webHttpBinding"
             contract="Mobao.M.Interface.IPatient" name="webHttpEndpoint">
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basc" maxReceivedMessageSize="6553500"></binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding11"  maxReceivedMessageSize="6553500">
        
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcp">
          <security mode="None">
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding"  maxReceivedMessageSize="6553500">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>

      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
